.container {
    background-color: white;
    width: 500px;
    max-width: 90%;
    height: 60px;
    display: grid;
    place-content: center;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.02);
}

.container p {
    font-size: 20px;
}